
$ge-inspira-font-path: 'assets/fonts' !default;

@font-face {
    font-family: 'ge-inspira';
    font-style: normal;
    font-weight: normal;
    src:url('#{$ge-inspira-font-path}/GEInspiraSans-Regular.woff') format('woff'),
    url('#{$ge-inspira-font-path}/GEInspiraSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ge-inspira';
    font-style: italic;
    font-weight: normal;
    src:url('#{$ge-inspira-font-path}/GEInspiraSans-Italic.woff') format('woff'),
    url('#{$ge-inspira-font-path}/GEInspiraSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'ge-inspira';
    font-style: normal;
    font-weight: bold;
    src: url('#{$ge-inspira-font-path}/GEInspiraSans-Bold.woff') format('woff'),
    url('#{$ge-inspira-font-path}/GEInspiraSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'ge-inspira';
    font-style: italic;
    font-weight: bold;
    src:url('#{$ge-inspira-font-path}/GEInspiraSans-BoldItalic.woff') format('woff'),
    url('#{$ge-inspira-font-path}/GEInspiraSans-BoldItalic.ttf') format('truetype');
}
