<wfm-quick-schedule-topbar [employee]="employee"></wfm-quick-schedule-topbar>
<div class="quick-schedule-contaier w-100 d-flex justify-content-start">
    <div class="quick-view-side-menu">
        <ul>
            <li class="active">
                <div>
                    <i class="icon-ge icon-wfm-calendar"></i>
                    Schedule
                </div>
            </li>
        </ul>
    </div>
    <div class="quick-schedule-wrapper">
        <div class="d-flex justify-content-start  p-20">
        <div class="quick-schedule-left-panel w-75">
            <div class="d-flex align-items-center mb-10">
                <button class="today-btn">Today</button><span class="mx-15">Jul 26 - Aug 1</span>
            </div>

            <div class="quick-schedule-scrollable">
                <div class="quick-view-week-cells my-10">
                    <p><strong>36 hours</strong></p>
                    <table>
                        <thead>
                            <th>Sun</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                        </thead>
                        <tbody>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tbody>
                    </table>
                </div>
                <div class="quick-view-week-cells my-10">
                    <p><strong>36 hours</strong></p>
                    <table>
                        <thead>
                            <th>Sun</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                        </thead>
                        <tbody>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tbody>
                    </table>
                </div>
                <div class="quick-view-week-cells my-10">
                    <p><strong>36 hours</strong></p>
                    <table>
                        <thead>
                            <th>Sun</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                        </thead>
                        <tbody>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tbody>
                    </table>
                </div>
                <div class="quick-view-week-cells my-10">
                    <p><strong>36 hours</strong></p>
                    <table>
                        <thead>
                            <th>Sun</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                        </thead>
                        <tbody>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div Class="quick-schedule-right-panel w-25 p-10">
            <div><strong _ngcontent-nex-c19="">Jul 27, 2020</strong></div>
            <div>0 Activities</div>
            <div class="mb-5">0 Paycodes</div>
            <div class="my-10 text-center add-buttons"><a hrfe="#">Add
                    Pay Code</a><a hrfe="#">Add Activity</a></div>
            <div class="calander-date-details">
                <p>No Schedule Events</p>
            </div>
        </div>
        </div>
    </div>

</div>