 
  .wf-icon-button {
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    outline:0;
    margin-left: 0px;
    padding-right: 0px;
  }

  .left-button {
    padding-right: 5px;
  }

  .right-button {
    padding-left: 5px;
  }

  .icon-ge-dropdown {
    font-size: 20px;
    height: 15px;
  }
 
