<div class="container" >
    <div class="row pull-right" style="margin-right:160px;margin-top:-30px">
        <a [routerLink]="['/myaccounts/address']">Edit</a>
        <!--<button class="btn btn-primary btn-link" (click)="deleteAddress()">Delete</button>-->
        <button class="btn btn-xs btn-danger" (click)="deleteAddress()">
            <span class="fa-stack fa-1x">
                <i class="fa fa-remove fa-stack-1x fa-inverse"></i>
            </span>
        </button>

    </div>
    <div class="panel panel-default col-md-6 col-sm-8" style="background-color:gainsboro">

        <div class="form-group">
            <label>{{_address1.FirstName+' '+_address1.LastName}}</label>
        </div>
        <div class="form-group">
            <label>Email :</label>
            <label>{{_address1.Email}}</label>
        </div>
        <div class="form-group">
            <label>Phone Number :</label>
            <label>{{_address1.PhoneNo}}</label>
        </div>
        <div class="form-group">
            <label>Fax Number :</label>
            <label>{{_address1.FaxNumber}}</label>
        </div>
        <div class="form-group">
            <label>{{_address1.Address1}}</label>
        </div>
        <div class="form-group">
            <label>{{_address1.City+' '+_address1.Zip}}</label>
        </div>
        <div class="form-group">
            <label>{{_address1.SelectedCountry}}</label>
        </div>

    </div>
    <div class="row pull-left col-md-6 col-sm-8">
        <button class="btn btn-primary btn-lg btn-default" (click)="addNew()">ADD NEW</button>
    </div>
</div>