<div id="registerModal" class="container">
        <div class="col-md-8 col-sm-8">
            <form class="form col-md-10 center-block" #passwordChangeForm="ngForm">
                <h2>My Account- Change Password</h2>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" placeholder="Old Password" [(ngModel)]="customer.OldPassword"
                           name="oldpassword" #oldpassword="ngModel"  required>
                    <div *ngIf="oldpassword.invalid && (passwordChangeForm.submitted || oldpassword.touched)" class="alert alert-danger">
                        <div *ngIf="oldpassword.errors.required">Password is required.</div>
                        
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" placeholder="New Password" [(ngModel)]="customer.NewPassword"
                           name="newpassword" #newpassword="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    
                    <div *ngIf="newpassword.invalid  && (passwordChangeForm.submitted || newpassword.touched)" class="alert alert-danger">
                        <div *ngIf="newpassword.errors.required">New Password is required.</div>
                        <div *ngIf="newpassword.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</div>
                    </div>

                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" placeholder="Confirm Password" [(ngModel)]="customer.ConfirmPassword"
                           name="confirmpassword" #confirmpassword="ngModel" pattern="{{ newpassword.value }}" required>
                  
                    <div *ngIf="confirmpassword.invalid  && (passwordChangeForm.submitted || confirmpassword.touched)" class="alert alert-danger">
                        <div *ngIf="confirmpassword.errors.required">Confirm Password is required.</div>
                        <div *ngIf="confirmpassword.errors.pattern"> Password & Confirm Password does not match.</div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" (click)="changepassword()" [disabled]="passwordChangeForm.form.valid">CHANGE PASSWORD</button>
                </div>
            </form>
        </div>
</div>