<div class="container">
    <hr>

    <div class="row">
        <div class="col-lg-12">
            <div class="section-title text-center">
                <h2>LATEST PRODUCTS</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-body">
                    <img src="lib/img/product/y1.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="panel-footer">
                    <h6>$35,00</h6>
                    <p>Flamboyant Pink Top </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-body">
                    <img src="lib/img/product/y1.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="panel-footer">
                    <h6>$35,00</h6>
                    <p>Flamboyant Pink Top </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-body">
                    <img src="lib/img/product/y1.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="panel-footer">
                    <h6>$35,00</h6>
                    <p>Flamboyant Pink Top </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-body">
                    <img src="lib/img/product/y1.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="panel-footer">
                    <h6>$35,00</h6>
                    <p>Flamboyant Pink Top </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-body">
                    <img src="lib/img/product/y1.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="panel-footer">
                    <h6>$35,00</h6>
                    <p>Flamboyant Pink Top </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-body">
                    <img src="lib/img/product/y1.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="panel-footer">
                    <h6>$35,00</h6>
                    <p>Flamboyant Pink Top </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-body">
                    <img src="lib/img/product/y1.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="panel-footer">
                    <h6>$35,00</h6>
                    <p>Flamboyant Pink Top </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-body">
                    <img src="lib/img/product/y1.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="panel-footer">
                    <h6>$35,00</h6>
                    <p>Flamboyant Pink Top </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-body">
                    <img src="lib/img/product/y1.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="panel-footer">
                    <h6>$35,00</h6>
                    <p>Flamboyant Pink Top </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="banner set-bg">
                <img src="lib/img/banner-bg.jpg" alt="">
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="container">
                <div class="footer-logo text-center">
                    <a href="index.html"><img src="./img/logo-light.png" alt=""></a>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-widget about-widget pull-right">
                            <h3>Information</h3>
                            <ul>
                                <li><a href="">Site Map</a></li>
                                <li><a href="">Shipping & Returns</a></li>
                                <li><a href="">Privacy Notice</a></li>
                                <li><a href="">Conditions Of Use</a></li>
                                <li><a href="">About us</a></li>
                                <li><a href="">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-widget about-widget pull-right">
                            <h3>Customer Service</h3>
                            <ul>
                                <li><a href="">Search</a></li>
                                <li><a href="">News</a></li>
                                <!--<li><a href="">Blog</a></li>-->
                                <li><a href="">Recently viewed products</a></li>
                                <li><a href="">Compare Product List</a></li>
                                <li><a href="">New Products</a></li>
                            </ul>
                         
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-widget about-widget pull-right">
                            <h3>My Account</h3>
                            <ul>

                                <li>
                                    <a [routerLink]="['/myaccounts/address']"><i class="fa fa-camera fa-fw"></i>&nbsp;My account</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/myaccounts/order']"><i class="fa fa-camera fa-fw"></i>&nbsp;Orders</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/myaccounts/address']"><i class="fa fa-camera fa-fw"></i>&nbsp;Addresses</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/home']"><i class="fa fa-camera fa-fw"></i>&nbsp;Shopping Cart</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/home']"><i class="fa fa-camera fa-fw"></i>&nbsp;Wish List</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/home']"><i class="fa fa-camera fa-fw"></i>&nbsp;Apply for Vendor Account</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-widget contact-widget pull-left">
                            <h3>Follow Us</h3>
                            <div class="social-links-warp">
                              
                                    <a href="#" class="icoRss " title="Rss"><i class="fa fa-rss"></i></a>
                                    <a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">
            <p class="text-white text-center mt-5">Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This site developed  <i class="fa fa-heart-o" aria-hidden="true"></i>for AromaCareGlow by Majid</p>
        </div>
    </footer>

</div>