<div id="registerModal" class="container" >
    
            <div class="container">
                <h1 class="text-center">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
                    </span>Register
                </h1>
            </div>
            <div class="container">
                <div class="col-md-8 col-sm-8">
                    <form class="form col-md-10 center-block" #registerForm="ngForm">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-3">
                                    <label for="sign-up-gender">Gender</label>
                                </div>
                               
                                 <div class="custom-control custom-radio custom-control-inline">
                                   
                                        <label  class="custom-control-label" *ngFor="let item of _newUser.Gender">
                                            <input class="custom-control-input" type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.value}}" (change)="onItemChange(item)" />
                                            {{item.name}}

                                        </label>
                                    
                                </div>
                                </div>
                            </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="FirstName" [(ngModel)]="_newUser.FirstName"
                                   name="firstname" #firstname="ngModel" required>
                            <div [hidden]="firstname.valid || firstname.untouched" class="alert alert-danger">
                                FirsName is required
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="LastName" [(ngModel)]="_newUser.LastName"
                                   name="lastname" #lastname="ngModel" required>
                            <div [hidden]="lastname.valid || lastname.untouched" class="alert alert-danger">
                                LastName is required
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-3">
                                    <label for="sign-up-role">Date Of Birth</label>
                                </div>
                                <div class="col-xs-3">
                                  
                                    <select class="form-control" id="selectday" [(ngModel)]="daySelected" name="day">
                                        <option *ngFor="let item of _newUser.Day" value= "{{ item.value }}">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xs-3">
                                    <select class="form-control" id="monthSelect" [(ngModel)]="monthSelected" name="month">
                                        <option *ngFor="let item of _newUser.Month" value= "{{ item.value }}">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xs-3">
                                   
                                    <select class="form-control" id="YearSelect" [(ngModel)]="yearSelected"  name="year">
                                        <option *ngFor="let item of _newUser.Year" value= "{{ item.value }}">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="Username" [(ngModel)]="_newUser.Username"
                                   name="username" #username="ngModel" required>
                            <div [hidden]="username.valid || username.untouched" class="alert alert-danger">
                                Username is required
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control input-lg" placeholder="Email" [(ngModel)]="_newUser.Email"
                                   name="email" #email="ngModel" required>
                            <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
                                Email is required
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="Company Name" [(ngModel)]="_newUser.CompanyName"
                                   name="companyname" #companyname="ngModel">
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <label for="sign-up-gender">Newsletter</label>
                            </div>
                            <div class="col-xs-3">
                                <input type="checkbox" class="form-check-input checkbox-inline" [(ngModel)]="_newUser.NewsLetter" name="newsletter">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" placeholder="Password" [(ngModel)]="_newUser.Password"
                                   name="password" #password="ngModel" required>
                            <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
                                Password is required
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" placeholder="ConfirmPassword" [(ngModel)]="_newUser.Password"
                                   name="confirmpassword" #confirmpassword="ngModel" required>
                            <div [hidden]="confirmpassword.valid || confirmpassword.untouched" class="alert alert-danger">
                                Password is required
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block" (click)="register()" [disabled]="!registerForm.form.valid">Register</button>
                        </div>
                    </form>
                </div>
                    
                </div>
                <div class="container">
                    <div class="col-md-8">
                        <a class="btn btn-danger pull-left" [routerLink]="['/accounts/login']" data-dismiss="modal" aria-hidden="true">Cancel</a>
                    </div>
                </div>

            </div>