<!-- Page info -->
<div>
    <div class="container">
        <h4>Your cart</h4>
        <div class="site-pagination">
            <!--<a href="">Home</a> /
            <a href="">Your cart</a>-->
        </div>
    </div>
</div>
<!-- Page info end -->
<!-- cart section end -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div >
                    <h3>Your Cart</h3>
                    <div >
                        <table>
                            <thead>
                                <tr>
                                    <th >Product</th>
                                    <th >Quantity</th>
                                    <th >SizeSize</th>
                                    <th >Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td >
                                        <img src="../../images/cart/1.jpg" alt="">
                                        <div >
                                            <h4>Animal Print Dress</h4>
                                            <p>$45.90</p>
                                        </div>
                                    </td>
                                    <td >
                                        <div >
                                            <div>
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td ><h4>Size M</h4></td>
                                    <td ><h4>$45.90</h4></td>
                                </tr>
                                <tr>
                                    <td >
                                        <img src="../../images/cart/2.jpg" alt="">
                                        <div >
                                            <h4>Ruffle Pink Top</h4>
                                            <p>$45.90</p>
                                        </div>
                                    </td>
                                    <td >
                                        <div >
                                            <div>
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td ><h4>Size M</h4></td>
                                    <td><h4>$45.90</h4></td>
                                </tr>
                                <tr>
                                    <td >
                                        <img src="../../images/cart/3.jpg" alt="">
                                        <div >
                                            <h4>Skinny Jeans</h4>
                                            <p>$45.90</p>
                                        </div>
                                    </td>
                                    <td >
                                        <div >
                                            <div >
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td ><h4>Size M</h4></td>
                                    <td><h4>$45.90</h4></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div >
                        <h6>Total <span>$99.90</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pull-right" style="margin-top:20px">
                <div class="form-group" >
                    <input type="text" placeholder="Enter promo code">
                    <button>Submit</button>
                </div>
                
                <a [routerLink]="['/accounts/checkout']"><i class="fa fa-picture-o fa-fw"></i>&nbsp;Check Out</a>
                
                <a href="">Continue shopping</a>
            </div>
        </div>
    </div>
</section>
<!-- cart section end -->
<!-- Related product section -->
<section >
    <div class="container">
        <div >
            <h2>Continue Shopping</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div >
                    <div >
                        <div >New</div>
                        <img src="../../images/product/img1.jpg" alt="">
                        <div>
                            <a href="#"><i ></i><span>ADD TO CART</span></a>
                            <a href="#"><i ></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>$35,00</h6>
                        <p>Black and White Stripes Dress</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div >
                    <div >
                        <img src="../../images/product/img2.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" ><i ></i><span>ADD TO CART</span></a>
                            <a href="#" ><i ></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>$35,00</h6>
                        <p>Flamboyant Pink Top </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div>
                    <div >
                        <img src="../../images/product/img3.jpg" alt="">
                        <div >
                            <a href="#" ><i ></i><span>ADD TO CART</span></a>
                            <a href="#" ><i ></i></a>
                        </div>
                    </div>
                    <div >
                        <h6>$35,00</h6>
                        <p>Flamboyant Pink Top </p>
                    </div>
                </div>
            </div>
            <!--<div class="col-lg-3 col-sm-6">
                <div >
                    <div>
                        <img src="../../images/product/y1.jpg" alt="">
                        <div >
                            <a href="#" ><i></i><span>ADD TO CART</span></a>
                            <a href="#" ><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div >
                        <h6>$35,00</h6>
                        <p>Flamboyant Pink Top </p>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</section>