<!-- Page info -->
<div class="container">
    <div class="row" style="margin-top:120px">

       
        <!-- Page info end -->
        <!-- cart section end -->
      
            <div>
                <div class="row">
                    <div class="col-lg-8">
                        <div>
                            <h3>Your Cart</h3>
                            <div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="col-md-3"></th>
                                            <th class="col-md-3">Product</th>
                                            <th class="col-md-2">Price</th>
                                            <th class="col-md-2">Quantity</th>
                                            <th class="col-md-2">Cost</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let item of basket.items">
                                        <tr>
                                            <td class="col-md-3">
                                                <img class="esh-basket-image" src="{{item.pictureUrl}}" />
                                            </td>
                                            <td class="col-md-4">
                                                 {{item.productName}}
                                            </td>
                                            <td class="col-md-2">
                                                <p>{{item.unitPrice | number:'.2-2'}}</p>
                                            </td>
                                            <td class="col-md-1">
                                                <div>
                                                    <div>
                                                        <!--<input type="text" value="1">-->
                                                        <input id="quantity"
                                                               type="number"
                                                               min="1"
                                                               [(ngModel)]="item.quantity"
                                                               (change)="itemQuantityChanged(item)" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="col-md-2">{{(item.unitPrice * item.quantity) | number:'.2-2'}}</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                           <div >
                             <table>
                                    <thead>
                                        <tr>
                                            <th class="col-md-3"></th>
                                            <th class="col-md-3"></th>
                                            <th class="col-md-2"></th>
                                            <th class="col-md-2"></th>
                                            <th class="col-md-2"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="col-md-3">
                                                
                                            </td>
                                            <td class="col-md-4">
                                                 
                                            </td>
                                            <td class="col-md-2">
                                                <button class="btn esh-basket-checkout" (click)="update($event)">Update</button>
                                            </td>
                                            <td class="col-md-1">
                                                <h4> Total:</h4>
                                            </td>
                                            <td class="col-md-2">
                                            <h4> {{totalPrice | number:'.2-2'}}</h4>
                                            </td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                                       
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" style="margin-top:20px">
                        <div (click)="checkOut($event)" class="btn btn-default btn-link">Checkout</div>
                        <!--<div (click)="ContinueShopping($event)" class="btn btn-default btn-link">Continue shopping</div>-->
                    </div>
                </div>
                
            </div>
       
        <!-- cart section end -->
        <!-- Related product section -->
  
            <div >
                <div>
                    <h2>Continue Shopping</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-body">
                                <div>New</div>
                                <img src="../../images/product/img1.jpg" alt="">
                                <div>
                                    <button class="btn btn-primary btn-sm" (click)="addToCart(item)">
                                        ADD TO CART
                                    </button>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <h6>$35,00</h6>
                                <p>Black and White Stripes Dress</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="panel panel-default text-center">
                            <div class="panel-body">
                                <img src="../../images/product/img2.jpg" alt="">
                                <div class="pi-links">
                                    <button class="btn btn-primary btn-sm" (click)="addToCart(item)">
                                        ADD TO CART
                                    </button>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <h6>$35,00</h6>
                                <p>Flamboyant Pink Top </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="panel panel-default text-center">
                            <div>
                                <img src="../../images/product/img3.jpg" alt="">
                                <div>
                                    <button class="btn btn-primary btn-sm" (click)="addToCart(item)">
                                        ADD TO CART
                                    </button>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <h6>$35,00</h6>
                                <p>Flamboyant Pink Top </p>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        
    </div>

</div>