<div class="container" >
    <div class="row" style="margin-top:120px">
        <div class="col-md-6 col-sm-8">
            <h3>Get in touch</h3>
            <p>Amartalla Street Kolkata</p>
            <p>+546 990231 124</p>
            <p>akhter.majid@gmail.com</p>
        </div>
    </div>
        <div class="row">
            <div>
                <form class="form col-md-6 center-block" #contactusform="ngForm">


                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="FirstName" [(ngModel)]="_newUser.FirstName"
                               name="firstname" #firstname="ngModel" required>
                        <div [hidden]="firstname.valid || firstname.untouched" class="alert alert-danger">
                            FirsName is required
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="LastName" [(ngModel)]="_newUser.LastName"
                               name="lastname" #lastname="ngModel" required>
                        <div [hidden]="lastname.valid || lastname.untouched" class="alert alert-danger">
                            LastName is required
                        </div>
                    </div>


                    <div class="form-group">
                        <input type="email" class="form-control input-lg" placeholder="Email" [(ngModel)]="_newUser.Email"
                               name="email" #email="ngModel" required>
                        <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
                            Email is required
                        </div>
                    </div>
                    <div class="form-group">

                        <textarea class="form-control input-lg" placeholder="Message" [(ngModel)]="_newUser.Message"
                                  name="message" #message="ngModel" required></textarea>
                        <div [hidden]="message.valid || message.untouched" class="alert alert-danger">
                            Message is required
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" (click)="send()" [disabled]="!contactusform.form.valid">SEND NOW</button>
                    </div>
                </form>
            </div>

            <div class="col-md-6 col-sm-6">
                <div><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14376.077865872314!2d-73.879277264103!3d40.757667781624285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1546528920522"></iframe></div>
                <!--<ac-map
            [zoom]="10"
            [enabled]="mapEnabled"
            >
        <ac-mappoint
                      [latitude]="22.57"
                      [longitude]="88.21"
                      [markerText]="'<h3>' + 'AromaCare glow'  + '</h3>'" ></ac-mappoint>
    </ac-map>-->
                <!--<ac-map [latitude]="22.57"
                        [longitude]="88.21"
                        [zoom]="10"
                        [enabled]="mapEnabled"
                        [markerText]= "'<h3>' + 'AromaCare glow'  + '</h3>'"> </ac-map>-->
            </div>
        </div>
    </div>

