save-exact=true
optional=false
no-proxy=npmrepo.api-wi.com
noproxy=npmrepo.api-wi.com

strict-ssl=false

; Registry for @api-wfm packages in Azure DevOps
@api-wfm:registry=https://pkgs.dev.azure.com/api-innovation/_packaging/shared/npm/registry/
always-auth=true

 

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 1/14/2020.
; begin auth token
//pkgs.dev.azure.com/api-innovation/_packaging/shared/npm/registry/:username=shared
//pkgs.dev.azure.com/api-innovation/_packaging/shared/npm/registry/:_password=cTVibHUyY2VicHd0YnhibHNrbHRoYmFuN2d4cTZiYm5uc3luampwcWNpNHhmeW14anVzYQ==
//pkgs.dev.azure.com/api-innovation/_packaging/shared/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/api-innovation/_packaging/shared/npm/:username=shared
//pkgs.dev.azure.com/api-innovation/_packaging/shared/npm/:_password=cTVibHUyY2VicHd0YnhibHNrbHRoYmFuN2d4cTZiYm5uc3luampwcWNpNHhmeW14anVzYQ==
//pkgs.dev.azure.com/api-innovation/_packaging/shared/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; Registry for @wfm packages in Verdaccio
@wfm:registry=http://npmrepo.api-wi.com
